#pdfscreen
{
    background: grey;
    height: 450px;
    width: 600px;
    border: 5px solid black;
    margin: 10px;
}

#thumbnails
{
    width: 620px;
    overflow: auto;
}

#pdfscreen img
{
    width: 600px;
    height: 450px;
}

#slides
{
    float: left;
    margin: 30px;
}

#rightside
{
    padding-top: 25px;
}

#talkVideo
{
    height: 360px;
    width: 480px;
}
#no_broadcast
{
    text-align: center;
}

h3
{
    font-family: "times";
    font-size: 1.5em;
}


