#pdfscreen
{
    background: grey;
    height: 450px;
    width: 600px;
}

#thumbnails
{
    width: 600px;
    overflow: auto;
}

#pdfscreen img
{
    width: 600px;
    height: 450px;
}

#slides
{
    float: left;
    margin: 30px;
}

#rightside
{
    padding-top: 25px;
}

